<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body style="text-align: center; font-family: 'Open Sans',sans-serif; color: #fff;">
        {% block body %}{% endblock %}
    </body>
</html>
